{# src/OC/PlatformBundle/Resources/views/Advert/index.html.twig #}

<!DOCTYPE html>
<html>
<head>
    <title>Bienvenue sur ma deuxième page avec OpenClassrooms !</title>
</head>
<body>
<h1>Bye {{ nom }} ! </h1>
<p>
    Le Bye World signifie que vous n'avez plus besoin d'utiliser ce putain d'hello world !
</p>
</body>
</html>